<div class="row">	
	<strong> Kannappa P (Co-Founder)</strong>
	<p> Kannappa is an Mechanical Engineer with post graduation from IIT Madras. He did his B.Tech from college of ennginnering
	trivandrum. He has prior experience in Saint Gobain and NIOT</p>
	<strong> Johns T Mathai (Co-Founder)</strong>
	<p> Johns is an Electrical Engineer with post graduation from IIT Delhi. He did his B.Tech from College of Engineering Trivandrum. He has 3 years experience with Samsung R&D Institute and Grey Orange Robotics</p>
	<p>The duo had worked together for various projects together for more than 10 years in college and for freelance projects. Together they have won more than 30 national level competitions</p>
	<h2>Our Story</h2><br>
	<p> This time my trip to home was a different experience. I went around my father’s farm. I saw a lot of cucumber (organically grown) ripened but not yet plucked and sold to market. I asked my father why we are not selling this. His response was “If you get it to market you will get 3 Rs and they sell it for 25 to 30 Rs. You won’t get even the transportation cost."
	</p>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/Optimized-story1.jpg" /></div>
	        <div class="col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/Optimized-story2.jpg" /></div>
			<div class="col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/Optimized-story3.jpg" /></div> 
	    </div>
	</div>
	<p>
	<br>
	But me and my friend decided to sell it any way in open market than letting them rot. We hand plucked and cleaned nearly 100 kg of cucumber and rushed to the Sunday "chanda" -bidding place for farm products. We saw a lot of farmers flocking the place to get thier vegetables sold. All the items were bought by local shopkeepers at a very cheap price.Occasionally few got better prices due to shortage of that particular product and there was a demand for it.We had to sell our cucumber for 3 Rs per Kg and that too only 50 Kg were sold. Nobody was there to buy the rest 50 Kg as we were told it was" too ripened". 
	<br>
	The "Novice farmer" ego was hurt badly and more importantly we learned quite few important lessons.
	<br>
	<div class="container">
		<div class="row">
	        <div class="col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/Optimized-story4.jpg" /></div>
			<div class="col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/Optimized-story5.jpg" /></div>
	        <div class="col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/Optimized-story6.jpg" /></div>
	    </div>
	</div>
	<br>
	I came back from native and my mind was uneasy with all that happened. It was not our products were too ripened, but many others had to settle to any price that was given as it was nearly impossible for them to take back farm products to home if prices were unsatisfactory and these are perishables and had to be sold anyway before they rot. I felt farmers are gambling a tough game every single day than a stock market dealer. I think there is large gap between the farmers -market and middle men are taking a lot of advantages leaving farmers in peril.
	<br>
	We are thinking of bringing some change to this. We were thinking of  having an online marketplace where people can register their products and sell it. Let me know your views on it.
	This is not a new concept, but there are so many e-commerce site to sell lifestyle products but not many or zero in many places to sell the Essentials. It is a place where we want to put our stake and this is a basic survey to know the pulse of the people who actually are doing farming. We ask why life supporting farmers be in misery when life styling products have glamorous reception. (we don't oppose them, but want to stress the point).
	Please feel free to share all your views and help us make a difference. 
	</p>

</div>
